CLEAN TILBUDSPROGRAM 2.SEMESTER/.vs/
CLEAN TILBUDSPROGRAM 2.SEMESTER/Abstractions/obj/
CLEAN TILBUDSPROGRAM 2.SEMESTER/BusinessLogic/obj/
CLEAN TILBUDSPROGRAM 2.SEMESTER/DataAccess/obj/
CLEAN TILBUDSPROGRAM 2.SEMESTER/GUI/obj/
CLEAN TILBUDSPROGRAM 2.SEMESTER/UnitTests/obj/
